@charset "utf-8";

.jumpCont{
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: #111;
    mix-blend-mode: darken;
}

.jump_wrap {
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.jump_wrap .jump_bg {
	width: 100vw;
	height: 100vh;
	position: absolute;
	overflow: hidden;
	transition: transform 500ms ease;
	cursor: none;
	/* mix-blend-mode: multiply; */
}

.jump_wrap .jump_bg:hover {
	transform: scale(1.025);	
}
.jump_bg img {
	position: absolute;
	left: -5%;
	top: -5%;
	width: 110%;
	height: 110%;
	object-fit: cover;
}
.jump_text{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 10vw;
	white-space: nowrap;
	line-height: 1.4;
	font-weight: 300;
	color: #fff;
}
.mouse_cursor {
	left: 0;
	top: 0;
	background: #fff;
	border-radius: 50%;
	z-index: 1000;
	user-select: none;
	width: 120px;
	height: 120px;
	position: absolute;
	filter: blur(1.2vw);
	mix-blend-mode:screen;
}
.mouse_info {
	position: absolute;
	left: 20px;
	bottom: 10px;
	font-size: 14px;
	line-height: 1.6;
	color: #fff;
	
}